#login {
    .center {
        text-align: center;
    }
    .img{
        width: 100px;
        height: 100px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.05);
        background-color: rgba(34, 11, 165, 0.815);
        padding: 20px;

    }
    .card-style{
        box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.2);
    }
}